<div class="row cliente">
  <div class=" col s7 center" style="margin-top:5%;">
    <h1>Bienvenido </h1>
    <div class=" center">
      <h2>Gestion de incidencias </h2>
    </div>
  </div>
  <div class="col s4 center">
    <img src="assets/image14" alt="" class:"responsive-img" width="100%" style="margin:15%;"/>
  </div>
  <br>
</div>
<div class="center">
  <ul id="categories" class="clr">
    <li>
      <div class="">
        <img src="assets/media/image6" alt="" class:"responsive-img" width="150px"/>
        <h1>Incidencia</h1>
        <p>ver todas sus incidencias</p>
      </div>
    </li>
    <li>
      <div class="">
        <img src="assets/media/image9" alt="" class:"responsive-img" width="150px"/>
        <h1>Incidencia</h1>
        <p>ver todas sus incidencias</p>
      </div>
    </li>
    <li>
      <div class="">
        <img src="assets/media/image10" alt="" class:"responsive-img" width="150px"/>
        <h1>Incidencia</h1>
        <p>ver todas sus incidencias</p>
      </div>
    </li>
    <li>
      <div class="">
        <img src="assets/media/image16" alt="" class:"responsive-img" width="150px"/>
        <h1>Incidencia</h1>
        <p>ver todas sus incidencias</p>
      </div>
    </li>
    <li>
      <div class="">
        <img src="assets/media/image19" alt="" class:"responsive-img" width="150px"/>
        <h1>Incidencia</h1>
        <p>ver todas sus incidencias</p>
      </div>
    </li>
  </ul>
</div>
