<div class="container z-depth-3 panel">
  <h3 class=" titulo">Areas</h3>
  <%= link_to 'Registrar', new_area_path, class:'btn bo' %>
    <table class="striped centered" id="my-table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td><%= area.name %></td>
        <td><%= link_to 'Eliminar', area, method: :delete, data: { confirm: 'Are you sure?' },class:'btn red'%> <%=link_to "Ver",area_path(area.id), class:'btn'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<script type="text/javascript">
$(document).ready(function(){
    $('#my-table').dynatable();
  });
</script>
