<div class="container z-depth-3 panel">
  <h3 class=" titulo">Incidencia</h3>
    <table class="striped centered" id="my-table">
  <thead>
    <tr>
      <th>Prioridad</th>
      <th>Estado</th>
      <th>Comentario</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @incidences.each do |incidence| %>
      <tr>
        <%case incidence.prioridad%>
            <%when "1"%>
              <td>Alta</td>
            <%when "2"%>
              <td>Media</td>
            <%when "3"%>
              <td>Baja</td>
        <%end%>
        <%case incidence.technical.ststus%>
            <%when true%>
              <td>Aceptada</td>
            <%when false%>
              <td>Asignada</td>
            <%when nil%>
              <td>Asignada</td>
        <%end%>
        <td><%= incidence.comentario %></td>
        <td>
          <%= link_to 'Ver', edit_technical_path(@technical.ids,hola:incidence.id), class:'btn'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $('#my-table').dynatable();
  });
</script>
